<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, viewport-fit=cover"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<meta name="theme-color" content="#000000" />

		<link rel="manifest" href="./manifest.json" />

		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="Platformer PWA" />
		<meta name="apple-mobile-web-app-title" content="Platformer PWA" />
		<meta name="msapplication-starturl" content="./" />

		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="./assets/icons/icons-192.png"
		/>
		<link
			rel="apple-touch-icon"
			type="image/png"
			sizes="192x192"
			href="./assets/icons/icons-192.png"
		/>

		<link
			rel="icon"
			type="image/png"
			sizes="512x512"
			href="./assets/icons/icons-512.png"
		/>
		<link
			rel="apple-touch-icon"
			type="image/png"
			sizes="512x512"
			href="./assets/icons/icons-512.png"
		/>

		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

		<title>Happy Birthday Orly</title>
	</head>
	<body>
		<style>
			@font-face {
				font-family: 'Arcade';
				src: url('assets/fonts/arcade.ttf');
			}

			@keyframes shake {
				0% {
					transform: translate(2px, 1px) rotate(0deg);
				}
				10% {
					transform: translate(-1px, -2px) rotate(-1deg);
				}
				20% {
					transform: translate(-3px, 0px) rotate(1deg);
				}
				30% {
					transform: translate(0px, 2px) rotate(0deg);
				}
				40% {
					transform: translate(1px, -1px) rotate(1deg);
				}
				50% {
					transform: translate(-1px, 2px) rotate(-1deg);
				}
				60% {
					transform: translate(-3px, 1px) rotate(0deg);
				}
				70% {
					transform: translate(2px, 1px) rotate(-1deg);
				}
				80% {
					transform: translate(-1px, -1px) rotate(1deg);
				}
				90% {
					transform: translate(2px, 2px) rotate(0deg);
				}
				100% {
					transform: translate(1px, -2px) rotate(-1deg);
				}
			}
			.shake {
				animation-name: shake;
				animation-duration: 0.5s;
				transform-origin: 50% 50%;
				animation-timing-function: linear;
			}

			html,
			body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				background-color: #448aff;
				overflow: hidden;
			}
			#phaser-game {
				position: fixed;
				top: 0;
				left: 0;
			}
			.arcade-text {
				font-family: 'Arcade';
				color: #463818;
				font-size: 13px;
				letter-spacing: 2px;
			}
			.dialog-hint {
				font-size: 10px;
			}
			#dialog {
				width: 400px;
				height: 300px;
				background: url('assets/images/dialog.png');
				position: fixed;
				right: 10%;
				top: 50%;
				transform: translateY(-100%);
				transform-origin: top right;
			}
			.dialog-content {
				position: relative;
				width: 100%;
				height: 100%;
			}
			.dialog-text-wrapper {
				position: absolute;
				left: 46px;
				width: 308px;
				top: 43px;
			}
			#dialog-text {
				font-size: 15px;
			}
			#dialog-input {
				position: absolute;
				bottom: 110px;
				left: 46px;
				background-color: transparent;
				border: 2px solid #463818;
				width: 308px;
				border-radius: 6px;
				outline: none;
				padding: 4px 8px;
				box-sizing: border-box;
				font-size: 15px;
			}
			#dialog-input:focus {
				border-color: #6d6330;
			}
			#dialog-button {
				position: absolute;
				bottom: 46px;
				right: 48px;
				width: 110px;
				height: 40px;
				background: url('assets/images/button.png');
				outline: none;
				border: none;
				cursor: pointer;
				transition: all 0.08s ease-in-out;
			}
			#dialog-button:hover {
				transform: scale(1.1);
			}
			.visible {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.3s ease-in-out;
			}
			.hidden {
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				transform: translateY(20px);
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				/* display: none; <- Crashes Chrome on hover */
				-webkit-appearance: none;
				margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}

			input[type='number'] {
				-moz-appearance: textfield; /* Firefox */
			}

			.created-by {
				position: fixed;
				bottom: 20px;
				right: 20px;
				font-size: 10px;
				font-family: 'Arcade';
				color: #000;
				background-color: rgba(255, 255, 255, 0.6);
				border-radius: 4px;
				padding: 4px 8px;
				user-select: none;
			}

			.profile-link {
				text-decoration: none;
				color: #01579b;
			}

			#playlist {
				display: none;
			}

			@media screen and (max-width: 1367px) {
				#dialog {
					transform: scale(0.89) translateY(-100%);
				}
			}
			@media screen and (max-width: 1024px) {
				#dialog {
					transform: scale(0.66) translateY(-100%);
				}
			}
			@media screen and (max-width: 768px) {
				#dialog {
					transform: scale(0.5) translateY(-100%);
				}
			}
			@media screen and (max-width: 640px) {
				#dialog {
					transform: scale(0.41) translateY(-100%);
				}
				.created-by {
					right: 50%;
					bottom: 10px;
					font-size: 7px;
					transform: translateX(50%);
					text-align: center;
					white-space: nowrap;
				}
			}
			@media screen and (max-width: 520px) {
				#dialog {
					transform: scale(0.34) translateY(-100%);
				}
			}
			@media screen and (max-width: 480px) {
				#dialog {
					transform: scale(0.31) translateY(-100%);
				}
			}
		</style>

		<noscript>
			Please enable javascript to continue using this application.
		</noscript>

		<div id="phaser-game"></div>

		<div id="dialog" class="hidden">
			<div class="dialog-content">
				<div class="dialog-text-wrapper">
					<div id="dialog-text" class="arcade-text"></div>
					<br />
					<div id="dialog-hint" class="arcade-text dialog-hint hidden"></div>
				</div>
				<input
					id="dialog-input"
					class="arcade-text"
					type="text"
					maxlength="16"
					spellcheck="false"
				/>
				<button id="dialog-button" class="arcade-text">Answer</button>
			</div>
		</div>

		<div class="created-by">
			Created by
			<a
				class="profile-link"
				href="https://www.linkedin.com/in/alex-zinkevych"
				target="_blank"
			>
				Alex Zinkevych
			</a>
		</div>

		<iframe
			id="audio"
			src="assets/audio/silence.ogg"
			allow="autoplay"
			style="display:none"
		></iframe>
		<audio id="player">
			<source id="player-src" src="assets/audio/breezin.ogg" type="audio/ogg" />
			Your browser does not support the audio element.
		</audio>
		<ul id="playlist">
			<li data-src="assets/audio/sandoval.ogg"></li>
			<li data-src="assets/audio/maria.ogg"></li>
		</ul>

		<% if(htmlWebpackPlugin.options.options.env === 'production'){ %>
		<script>
			// Check that service workers are registered
			if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('./sw.js');
				});
			}
		</script>
		<% } %>
	</body>
</html>
